.header{
   /* background-image: linear-gradient(to left, #02bc95, #00958f, #006e7a, #1a4958, #1f282f);  */
  
   background: rgb(18,16,66);
   background: linear-gradient(90deg, rgba(18,16,66,1) 0%, rgba(26,20,52,1) 0%, rgba(12,61,79,1) 48%, rgba(12,61,79,1) 48%, rgba(29,44,67,1) 59%, rgba(50,23,53,1) 100%, rgba(52,21,52,1) 100%, rgba(65,8,43,0.7679446778711485) 100%, rgba(92,11,61,1) 100%, rgba(127,88,112,1) 100%, rgba(131,97,118,1) 100%, rgba(96,20,67,1) 100%, rgba(54,19,51,1) 100%, rgba(135,106,124,1) 100%, rgba(89,26,65,0.5382528011204482) 100%, rgba(80,26,58,1) 100%, rgba(89,8,55,1) 100%);
    display: flex;
    align-content: center;
    line-height: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    
}
 .header h3 {
  color: #FFFfff;

  font-weight: 900;
}
.changingtext{
  font-family: 'Redressed', cursive;
}
.headerimgparent{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
padding: 10px;
margin-left: 10px;
}
.headerimg {
 
  width: 300px;
  height: 300px;
  object-fit: contain;
  justify-content: flex-start;
  
  
}
.name {
  /* color: #FC4F4F; */
  color: #00BD95;
  font-size: 25px;
  font-weight: 700;
}
.changingtext{
  color: #ffffff;
}
.button{
  margin-top: 20px;
  position: relative;
  background-color: #02BC95;;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #fff;
  color: #02BC95;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}
.wave {
  width: 100%;
  height: 80px;
  
}
