.header{
   background-image: linear-gradient(to left, #02bc95, #00958f, #006e7a, #1a4958, #1f282f); 
  /* background-image: linear-gradient(to bottom, #387a6b, #2d6053, #22473d, #173028, #0a1a15); */
    /* color: #54BAB9; */
    display: flex;
    align-content: center;
    line-height: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    
}
 .header h3 {
  color: #FFFfff;

  font-weight: 900;
}
.changingtext{
  font-family: 'Redressed', cursive;
}
.headerimgparent{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;

}
.headerimg {
 
  width: 300px;
  height: 300px;
  object-fit: contain;
  justify-content: flex-start;
  
  
}
.name {
  /* color: #FC4F4F; */
  color: #00BD95;
  font-size: 25px;
  font-weight: 700;
}
.changingtext{
  color: #ffffff;
}
.button{
  margin-top: 20px;
  position: relative;
  background-color: #02BC95;;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #fff;
  color: #02BC95;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}
.wave {
  width: 100%;
  height: 80px;
  
}
