.interest {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 33px;
    margin: 20px;

    /* background-color: #f6efef; */
    background-color: #171C22;
    /* box-shadow:  5px 5px 10px #ffffff,
                 -5px -5px 10px #ffffff; */

}
p{
    margin-bottom: 10px;
}