
.head{
    color: #FC4F4F;
    text-align: center;
}
.maindiv{
    padding: 20px;
    
    margin: 10px;
    
    color: #02BC95;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    
    background-color: #171C22;

 
}
.maindiv2{
   width: 80%;
    padding: 5px;
    /* margin: 10px; */
   margin-left: auto;
   margin-right: auto;
    
    color: #02BC95;
    
   
    border-radius: 33px;
    
    background-color: #171C22;
   
   
}
.skillHead{
    color: #ffffff;
}
.allskills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.skills{
   padding: 10px;
   
}

p {
    margin: 15px;
    margin-bottom: 0px;
    /* margin-top: 5px; */
}
.skillimg{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px
}
.oneimg {
    width: 80px;
    object-fit: contain;
}



    
