.work{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px;
border-radius: 33px;

/* background-color: #f6efef; */
background-color: #171C22;
/* box-shadow:  5px 5px 10px #ffffff,
             -5px -5px 10px #ffffff; */

}
